/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primery {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-prag {
    color: #757575;
    text-align: center;
    font-size: 18px;
}


/* nav releted style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* hadder style */
header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.banner-1sl {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-hadding {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

.prag {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;
    margin-top: 20px;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}


/* about style */
.about {
    margin: 130px 0px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    padding: 130px 156px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-discription {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

/* whit i do */


#what-i-do-prag {
    padding: 30px 156px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-discription {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

/* resume style */
.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-conteiner {
    display: flex;
    gap: 70px;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.resume-item-inastitute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item-discription {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.download-CV{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
}